body {
  background-color: green;
  color: white;
}

h1 {
  font-size: 20px;
  color: white;
  border-style:inset ;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-size: 12px;
  color: white;
  border-style: dotted;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

ol {
  list-style-type: upper-latin
}

ul {
  list-style-type: square
}